@using Scooterland.Client.Modules.SaleModules;
@page "/sales/create-sale"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>
    &gt;
    <NavLink href="/sales" class="breadcrumb-link">Ordre</NavLink>
    &gt;
    <NavLink href="/sales/create-sale" class="breadcrumb-link">Opret ny ordre</NavLink>
</h3>

<CreateSale/>

@code {

}
