@using Scooterland.Client.Modules.ProductModules;
@using Scooterland.Client.Modules.SaleModules;
@using Scooterland.Shared.Models;
@using Scooterland.Client.Services.CustomerServices;
@using Scooterland.Client.Services.SaleServices;
@page "/sales/current-sale"

<CurrentSaleOverview />

<div class="flex-box">
	<button class="btn btn-primary" @onclick="GoToInvoicePage">
		Vis faktura
	</button>
</div>

@code {
	[Inject]
	public NavigationManager Navigation { get; set; }

	[Parameter]
	[SupplyParameterFromQuery]
	public int SaleId { get; set; }

	private void GoToInvoicePage()
	{
		Navigation.NavigateTo($"/sales/invoice?SaleId={SaleId}");
	}
}
