@page "/sales"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>
    &gt;
    <NavLink href="/sales" class="breadcrumb-link">Ordre</NavLink>    
</h3>

<h3>Ordre information</h3>

<div class="submenu-container">
    <div class="submenu-item">
        <NavLink href="/sales/create-sale" class="submenu-link">Opret ordre</NavLink>
        <p>Her kan du oprette en ny ordre. Du tilknytter eksisterende eller opretter <br /> en ny kunde, før ordren bliver oprettet. </p>
    </div>
    <div class="submenu-item">
        <NavLink href="/sales/all-sales" class="submenu-link">Alle ordrer</NavLink>
        <p>Se en liste over alle ordrer, både igangværende og afsluttede.</p>
    </div>
    <div class="submenu-item">
        <NavLink href="/sales/incomplete-sales" class="submenu-link">Igangværende ordrer</NavLink>
        <p>Vis alle ordrer, der stadig er under behandling.</p>
    </div>
    <div class="submenu-item">
        <NavLink href="/sales/completedsales" class="submenu-link">Afsluttede ordrer</NavLink>
        <p>Gennemse afsluttede ordrer og deres detaljer.</p>
    </div>
</div>


@code {

}
