.search-bar {
    width: 100%;
    border-radius: 7px;
    border-right-style: none;
    border-left-style: none;
    border: none;
    border-block-color: lightgray;
    background-color: lightgray;
}
