@using Scooterland.Shared.Models
@using Scooterland.Client.Services.ProductServices;



<div class="search-container">
	<i class="search-icon fa fa-search"></i>
	<input class="search-bar" placeholder="Søg efter produkt" id="navn" type="text" @bind="nameSearch" />
</div>



@if (products == null)
{
	<p><em>Ingen produkter fundet.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Navn</th>
				<th>Type</th>
				<th>Pris</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in products)
			{
				<tr @onclick="() => AddProduct(item)">
					<td class="cell">@item.ProductId</td>
					<td class="cell">@item.Name</td>
					<td class="cell">@item.Type</td>	
					<td class="cell">@item.Price</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	private string nameSearch;
	private List<Product> products = new List<Product>();
	private int? editingProductId = null;

	[Inject]
	public IProductService Service { get; set; }

	protected override async Task OnInitializedAsync()
	{
		products = (await Service.GetAllProducts()).ToList();
	}


	private async Task AddProduct(Product product)
	{

	}

}