@using Scooterland.Shared.Models
@using Scooterland.Client.Services.ProductServices;



<div class="search-container">
	<i class="search-icon fa fa-search"></i>
	<input class="search-bar" placeholder="Søg efter produkt" id="navn" type="text" @bind="navn" />
</div>



@if (products == null)
{
	<p><em>Ingen produkter fundet.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Product Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in products)
			{
				<tr>
					<td>@item.ProductId</td>
					<td>@item.Name</td>
					<td>@item.Type</td>
					<td>@item.Price</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	private string navn;
	private List<Product> products = new List<Product>();

	[Inject]
	public IProductService Service { get; set; }

	protected override async Task OnInitializedAsync()
	{
		products = (await Service.GetAllProducts()).ToList();
	}
}
