.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    display: none; /* Skjult som standard */
    padding: 10px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dropdown-menu.hide {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

