@using Scooterland.Client.Modules.SpecializationModules;
@page "/administration/specialization/create-specialization"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>
    &gt;
    <NavLink href="/administration" class="breadcrumb-link">Administration</NavLink>
    &gt;
    <NavLink href="/administration/specialization" class="breadcrumb-link">Specialisering</NavLink>
    &gt;
    <NavLink href="/administration/employees/create-specialization" class="breadcrumb-link">Opret ny specialisering</NavLink>
</h3>

<CreateSpecialization/>

@code {

}
