<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Hjalte" connectionString="Server=LAPTOP-KOEHKSOQ;Database=ScooterlandDb;Trusted_Connection=True;"/>
		<add name="Frederik" connectionString="Server=FREDERIK;Database=ScooterlandDb;Trusted_Connection=True;"/>
		<add name="Nikolas" connectionString=""/>
	</connectionStrings>
</configuration>