<div class="top-row">
	@*Ikonet*@
	<a href="/" class="navbar-icon position-absolute start-1">🛵</a> @* ikon med link til homepage | start-1 sørger for at ikon er næsten helt til venstre *@

	@*Navigation*@
	<nav class="top-nav-bar mx-auto">
		@* mx-auto sørger for at alle elementer er i midten af siden*@
		<ul>
			<li><a href="/">Forside</a></li>
			<li class="dropdown">
				@*dropdown css klasse *@
				<a href="/sales">Ordre</a> @*Overordnet menu-element*@
				<ul class="dropdown-menu">@*dropdown css klasse *@
					<li><a href="/sales/create-sale">Opret ordre</a></li>@*dropdown element*@
					<li><a href="/sales/all-sales">Alle ordre</a></li>@*dropdown element*@
					<li><a href="/sales/current-sales">Igangværende ordre</a></li>@*dropdown element*@
				</ul>
			</li>
			<li class="dropdown">
				<a href="/administration">Administration</a>
				<ul class="dropdown-menu">
					<li><a href="/administration/customers">Kunder</a></li>
					<li><a href="/administration/products">Produkter</a></li>
					<li class="dropdown">
						<a href="/administration/employees" class="dropdown-li">Ansatte<i class="fa-solid fa-greater-than"></i></a> @*Tilføjer '>' til Ansatte*@
						<!-- New nested dropdown menu under Ansatte -->
						<ul class="dropdown-menu right-dropdown">
							<li><a href="/administration/employees/create-employee">Opret Ny Ansat</a></li>
							<!-- Add more future menus here -->
						</ul>
					</li>
					<li><a href="/administration/specialization">Specialisering</a></li>
					<li><a href="/administration/backup">Backup</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>