/* Gør cellen til en positioneringscontainer */
.cell {
    position: relative; /* Gør knapperne absolut positionerbare i forhold til cellen */
    text-align: center; /* Sørg for, at teksten eller inputfeltet er centreret horisontalt */
    vertical-align: middle; /* Sørg for vertikal centrering af tekst */
    height: 40px; /* Fixer højden, så cellens dimensioner ikke ændres */
}

    /*Hover effekten*/
    .table tbody tr:hover {
        cursor: pointer; /* Skift cursor til hånd */
        border: 0.1rem solid black; /* Tilføjer en sort kant ved hover */
    }

td[colspan="2"] {
    text-align: left; /* Sørg for venstrejustering */
    max-width: 4px; /* Sæt en passende maksimal bredde */
    white-space: nowrap; /* Forhindrer line breaks i dropdown-menuen */
}
