@using Scooterland.Client.Modules.CustomerModules;
@using Scooterland.Client.Services.CustomerServices;
@using Scooterland.Client.Services.SaleServices;
@using Scooterland.Shared.Models;

<h3>Opret ny ordre</h3>

<div class="box">
	<div class="main-search">
		Kunde email
	</div>
	<input class="existing-input" placeholder="Indtast eksisterende email" @bind="emailSearch" @bind:event="oninput" />
	<div class="main-search">
		Kunde telefonnummer
	</div>
	<input class="existing-input" placeholder="Indtast eksisterende telefonnummer" @bind="phoneNumSearch" @bind:event="oninput" />
</div>
<br/>
<CreateCustomer CustomerModel="@selectedCustomer" />

<div class="flex-box">
	<button class="btn btn-primary" @onclick="GoToNextPage">
		Næste side
	</button>
</div>

@if (isErrorBoxVisible)
{
	<div class="message-box">
		<div class="message-content">
			<h4>Tilføj kunde</h4>
			<p>Du mangler at tilføje en kunde</p>
			<div class="message-success">
				<button @onclick="CloseMessageBox">OK</button>
			</div>
		</div>
	</div>
}

@if (isSuccessBoxVisible)
{
	<div class="message-box">
		<div class="message-content">
			<h4>Salg oprettet</h4>
			<p>Salget blev oprettet korrekt</p>
			<div class="message-success">
				<button @onclick="NavigateToNextPage">Gå til produktsiden</button>
			</div>
		</div>
	</div>
}

@code {
	private List<Customer> customers = new List<Customer>();
	private List<Customer> filteredCustomer = new List<Customer>();
	private List<Sale> saleList = new List<Sale>();
	private Customer selectedCustomer = new Customer();
	private Sale currentSale = new Sale();
	private string _phoneNumSearch;
	private string _emailSearch;
	private bool isErrorBoxVisible = false;
	private bool isSuccessBoxVisible = false;
	[Inject]
	public NavigationManager Navigation { get; set; }
	[Inject]
	public ICustomerService CustomerService { get; set; }

	[Inject]
	public ISaleService SaleService { get; set; }

	protected override async Task OnInitializedAsync()
	{
		customers = (await CustomerService.GetAllCustomers()).ToList();
	}

	private string phoneNumSearch   //Bundet til input-feltet for søgning
	{
		get => _phoneNumSearch; //Henter den aktuelle værdi af det private felt _nameSearch
		set
		{
			_phoneNumSearch = value;    //Opdaterer det pribate felt _nameSearch med den nye værdi
			foreach (var customer in customers)
			{
				if (customer.Phonenumber == _phoneNumSearch && !string.IsNullOrEmpty(_phoneNumSearch))
				{
					selectedCustomer = customer; // Opdaterer CustomerModel i CreateCustomer
				}
			}
		}
	}
	private string emailSearch
	{
		get => _emailSearch;
		set
		{
			_emailSearch = value;
			foreach (var customer in customers)
			{
				if (customer.Email == _emailSearch && !string.IsNullOrEmpty(_emailSearch))
				{
					selectedCustomer = customer;
				}
			}
		}
	}

	private void CloseMessageBox()
	{
		isErrorBoxVisible = false;
	}

	private async Task GoToNextPage()
	{
		if (selectedCustomer != null)
		{

@* 			Customer dbCustomer = customers.Where(x => x.Name == selectedCustomer.Name)
											.Where(x => x.Email == selectedCustomer.Email)
											.Where(x => x.Phonenumber == selectedCustomer.Email)
											.Last(); *@
			
			@* Customer dbCustomer = await CustomerService.GetCustomer(selectedCustomer.CustomerId); *@

			customers = (await CustomerService.GetAllCustomers()).ToList();
			Customer dbCustomer = customers.Last();

			currentSale.CustomerId = dbCustomer.CustomerId;
			currentSale.StartDate = DateTime.Now;
			await SaleService.AddSale(currentSale);
			isSuccessBoxVisible = true;


		}
		else
		{
			isErrorBoxVisible = true;
		}
	}

	private async Task NavigateToNextPage()
	{
		saleList = (await SaleService.GetAllSales()).ToList();
		Sale saleToTransfer = saleList.FirstOrDefault(s => s.CustomerId == currentSale.CustomerId && s.StartDate == currentSale.StartDate);
		Navigation.NavigateTo($"/sales/current-sale?SaleId={saleToTransfer.SaleId}");
	}
}
