/* Gør cellen til en positioneringscontainer */
.cell {
    position: relative; /* Gør knapperne absolut positionerbare i forhold til cellen */
    text-align: center; /* Sørg for, at teksten eller inputfeltet er centreret horisontalt */
    vertical-align: middle; /* Sørg for vertikal centrering af tekst */
    height: 40px; /* Fixer højden, så cellens dimensioner ikke ændres */
}


.employee-dropdown {
    height: 30px; /* Juster højden til den ønskede størrelse */
    border-radius: 5px;
}

    .employee-dropdown button:active {
        transform: scale(0.98); /* Slight shrink effect when clicked */
    }

.employee-btn {
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
}

    .employee-btn:hover {
        background-color: darkgray;
    }

td[colspan="2"] {
    text-align: left; /* Sørg for venstrejustering */
    max-width: 4px; /* Sæt en passende maksimal bredde */
    white-space: nowrap; /* Forhindrer line breaks i dropdown-menuen */
}

.delete-button, .btn {
    border: none;
    background: none;
    font-size: 15px;
}

    .delete-button:hover {
        transform: scale(1.3);
        transition-duration: 0.5s;
        border-color: none;
        border-radius: 100px;
        background-color: lightgray;
        opacity: 0.9;
    }

.message-box {
    position: fixed; /* Makes the box stay fixed on the screen */
    top: 30%; /* Adjust vertical position */
    left: 50%; /* Center the box horizontally */
    transform: translateX(-50%); /* Centers the box more accurately */
    background-color: white; /* Set background color */
    color: black; /* White text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
    z-index: 1000; /* Ensures it's on top of other elements */
    text-align: center; /* Centers text */
}
