@using Scooterland.Client.Components
@page "/"

<h3>Home</h3>

<div class="flex-container">
    <!-- Første komponent (fylder 2/3 af bredden) -->
    <div class="two-thirds-width">
        <Scooterland.Client.Components.ProductComponents.ProductOverview />
    </div>

    <!-- Anden komponent (fylder 1/3 af bredden) -->
    <div class="one-third-width">
        <Scooterland.Client.Components.SaleComponent.CurrentSaleOverview />        
    </div>
</div>



@code {

}
