@using Scooterland.Client.Modules.ProductModules
@using Scooterland.Client.Modules.SaleModules
@using Scooterland.Client.Modules.EmployeeModules
@using Scooterland.Client.Modules.CustomerModules
@page "/"

<div class="header-section">
    <h1>Velkommen til Scooterland</h1>
</div>
<div class="image-container">
    <img src="images/forsidebaggrund.png" alt="Hyggeligt knallertværksted" class="picture" />
</div>


@code {

}
