.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picture {
    max-width: 90%;
    object-fit: contain;
}

.header-section {
    text-align: center; /* Centrerer teksten horisontalt */
    margin: 1rem 0; /* Tilføjer lidt afstand over og under teksten */
    font-size: 2rem; /* Justerer tekststørrelsen */
    color: #333; /* Valgfri tekstfarve */
    font-family: Arial, sans-serif; /* Valgfri skrifttype */
}
