@using Scooterland.Client.Modules.ProductModules
@using Scooterland.Client.Modules.SaleModules
@using Scooterland.Client.Modules.EmployeeModules
@using Scooterland.Client.Modules.CustomerModules
@page "/"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>    
</h3>

<h3>Forside</h3>

<SaleOverview/>

@* <div class="flex-container">
    <!-- Første komponent (fylder 2/3 af bredden) -->
    <div class="two-thirds-width">
        <ProductOverview />
    </div>

    <!-- Anden komponent (fylder 1/3 af bredden) -->
    <div class="one-third-width">
        <CurrentSaleOverview />        
    </div>
    <div class="one-third-width">
        <EmployeeOverview />
    </div>
</div>

<br/>
<br/>

<div>
    <CustomerOverview />
</div> *@



@code {

}
