@using Scooterland.Shared.Models


<h1>Eksisterende kunde</h1>
<input class="search-bar" placeholder="Søg efter email" type="text"/>
<br/>
<input class="search-bar" placeholder="Søg efter telefonnummer" type="number"/>

<h1>Kunde oplysninger</h1>





@code {

}
