.search-bar {
    width: 70%;
    border-radius: 7px;
    border-right-style: none;
    border-left-style: none;
    border: none;
    border-block-color: lightgray;
    background-color: lightgray;
    padding: 7px;
}
    .search-bar:focus {
        background-color: lightgray; /* Background changes to white, makes it clearer that it's in focus*/
        outline: none; /*Needed for box-shadow*/
        box-shadow: 0px 0px 7px black; /* Subtle black glow - [horizontal-offset] [vertical-offset] [blur-radius] */
    }

.table {
    width: 70%;
    border-collapse: collapse;
}
