@page "/administration/backup"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>
    &gt;
    <NavLink href="/administration" class="breadcrumb-link">Administration</NavLink>
    &gt;
    <NavLink href="/administration/backup" class="breadcrumb-link">Backup</NavLink>
</h3>

<h3>Backup</h3>

<button>
	Åben backup program
</button>

@code {

}
