@using Scooterland.Client.Modules.EmployeeModules;
@page "/administration/employees"
<h3>EmployeePage</h3>

<EmployeeOverview/>

<Scooterland.Client.Modules.ProductModules.ProductOverview/>

@code {

}
