@page "/administration/products"
<h3>ProductPage</h3>

<Scooterland.Client.Modules.ProductModules.CreateProduct/>

<Scooterland.Client.Modules.ProductModules.ProductOverview/>

<Scooterland.Client.Modules.ProductModules.ProductSelectOverview/>

@code {

}
