@using Scooterland.Client.Modules.ProductModules;
@page "/administration/products"

<h3 class="breadcrumbs">
    <NavLink href="/" class="breadcrumb-link">Forside</NavLink>
    &gt;
    <NavLink href="/administration" class="breadcrumb-link">Administration</NavLink>
    &gt;
    <NavLink href="/administration/products" class="breadcrumb-link">Produkter</NavLink>    
</h3>

<ProductOverview/>

@code {

}
