@page "/administration/employees/create-employee"

<h3>Opret Ny Ansat</h3>



<form>
    <!-- Name input -->
    <div class="form-group">
        <label for="name">Navn</label>
        <input id="name" class="form-control" type="text" placeholder="Navn" />
    </div>

    <!-- Role input -->
    <div class="form-group">
        <label for="role">Rolle</label>
        <input id="role" class="form-control" type="text" placeholder="Rolle" />
    </div>

    <!-- Submit button (does nothing) -->
    <button type="button" class="btn btn-primary">Opret</button>
</form>



@code {

}
