.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    display: none; /* Skjult som standard */
    padding: 10px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dropdown-menu.hide {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.message-box {
    position: fixed; /* Makes the box stay fixed on the screen */
    top: 30%; /* Adjust vertical position */
    left: 50%; /* Center the box horizontally */
    transform: translateX(-50%); /* Centers the box more accurately */
    background-color: white; /* Set background color */
    color: black; /* White text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3); /* Optional: Adds a shadow effect */
    z-index: 1000; /* Ensures it's on top of other elements */
    text-align: center; /* Centers text */
}

.message-success {
}

    .message-success button {
        background-color: #1b6ec2;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
    }

        .message-success button:hover {
            background-color: #15589b;
        }
