@using Scooterland.Shared.Models




<div class="search-container">
	@*<i> tag is widely used for icons. Remember: Sign up at fontawesome.com to use font 5 awesome icons, like fa fa-search (search icon)*@
	<i class="search-icon fa fa-search"></i>
	<input class="search-bar" placeholder="Søg efter medarbejder" id="navn" type="text" @bind="navn" />
</div>



@if (employees == null || employees.Count == 0)
{
	<p><em>Ingen medarbejdere fundet.</em></p>
}
else
{
	<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Navn</th>
				<th>Rolle</th>				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in employees)
			{
				<tr>
					<td>@item.EmployeeId</td>
					<td>@item.Name</td>
					<td>@item.Role</td>					
				</tr>
			}
		</tbody>
	</table>
	</div>
}


@code {
	private string navn;
	private List<Employee> employees = new List<Employee>();

	Employee e1 = new Employee { EmployeeId = 1, Name = "Nikolas Bech", Role = "Værkfører"};
	Employee e2 = new Employee { EmployeeId = 2, Name = "Frederik Bech", Role = "Konturmus"};
	Employee e3 = new Employee { EmployeeId = 3, Name = "Hjalte Bech", Role = "Mekaniker" };

	protected override async Task OnInitializedAsync()
	{
		employees.Add(e1);
		employees.Add(e2);
		employees.Add(e3);
	}

}
